// -----------------------------------
// Margin
// -----------------------------------
.m0 { margin: 0rem !important; }
.m1 { margin: 1rem !important; }
.m2 { margin: 2rem !important; }

.mt0 { margin-top: 0 !important; }
.mth { margin-top: 0.5rem !important; }
.mt1 { margin-top: 1rem !important; }
.mt2 { margin-top: 2rem !important; }
.mt2h { margin-top: 2.5rem !important; }

.mb0 { margin-bottom: 0 !important; }
.mbh { margin-bottom: 0.5rem !important; }
.mb1 { margin-bottom: 1rem !important; }
.mb2 { margin-bottom: 2rem !important; }
.mb2h { margin-bottom: 2.5rem !important; }

.mr0 { margin-right: 0 !important; }
.mrh { margin-right: .5rem !important; }
.mr1 { margin-right: 1rem !important; }
.mr2 { margin-right: 2rem !important; }

.ml0 { margin-left: 0 !important; }
.mlh { margin-left: .5rem !important; }
.ml1 { margin-left: 1rem !important; }
.ml2 { margin-left: 2rem !important; }
.ml3 { margin-left: 3rem !important; }

// -----------------------------------
// Padding
// -----------------------------------
.p0 { padding: 0 !important; }
.p1 { padding: 1rem !important; }
.p2 { padding: 2rem !important; }

.pt0 { padding-top: 0 !important; }
.pth { padding-top: 0.5rem !important; }
.pt1 { padding-top: 1rem !important; }
.pt2 { padding-top: 2rem !important; }
.pt2h { padding-top: 2.5rem !important; }
.pt3h { padding-top: 3.5rem !important; }

.pb0 { padding-bottom: 0 !important; }
.pbh { padding-bottom: 0.5rem !important; }
.pb1 { padding-bottom: 1rem !important; }
.pb2 { padding-bottom: 2rem !important; }
.pb2h { padding-bottom: 2.5rem !important; }

.pr0 { padding-right: 0 !important; }
.prh { padding-right: .5rem !important; }
.pr1 { padding-right: 1rem !important; }
.pr2 { padding-right: 2rem !important; }

.pl0 { padding-left: 0 !important; }
.plh { padding-left: .5rem !important; }
.pl1 { padding-left: 1rem !important; }
.pl2 { padding-left: 2rem !important; }
